

body{
	background: url(../image/6.jpg) no-repeat;
	background-size: 100% 100%;
	
}


/*
header a:hover{
	background: rgba(255,0,0,.5);
	
}*/
/*作品展示*/
.works{
	margin:20px auto;
	border:1px solid #000;
	width:990px;
	height:500px;
	box-shadow: 0 0 5px 5px #fff;
}
.works a{
	float:left;
	width:310px;
	height:230px;
	margin:10px;
	position:relative;
	overflow: hidden;
}
.works span{
	position:absolute;
	top:0;
	left:-310px;
	height:100%;
	width:100%;
	background: rgba(0,0,0,.3);
	color:#fff;
	font-size:20px;
	line-height: 30px;
	text-align: center;
	
}
.works img{
	width:310px;
	height:230px;
	
}
