*{
	margin:0;
	padding: 0;
	list-style: none;
}
body{
	height:100%;
	background: #000;
}
body html{
	height:100%;
}
.par{
	width:100px;
	height:50px;
	margin:0 auto;
	
}
button{
	padding:10px 0;
	width:45px;
	box-shadow: 0px 6px 1px #ccc;
	border-radius:10px;
	position:relative;
	top:0;
	transition:0.4s all ease;
	border:none;
	outline: none;
}
button:active{
	box-shadow: 0px 2px 1px #ccc;
	top:4px;
}

.warp{
	width:880px;
	height:220px;
	margin:50px auto;
	border:1px solid #000;
	border-radius:10px;
	box-shadow: 0 0 30px 5px silver;
	position:relative;
	overflow: hidden;
}
ul{
	height:200px;
	position:absolute;
	top:0;
	left:0;
	padding:10px 0;
}
ul li{
	float:left;
	padding:0 10px;
	width:200px;
	height:200px;
}
ul li img{
	width:200px;
	height:200px;
	vertical-align:top;
}
