@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ul,ol,p{margin:0; padding:0; font-family:'microsoft yahei';}
a{color:#787878; text-decoration:none;}
img{vertical-align:top; border:none;}/*解决ie里面a包img有边框*/
li{list-style:none;}
/*重复使用*/
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:''; display:block; clear:both;}
.w{width:1200px; margin:0 auto;}
body{font-size:12px; height:10000px;}
a:hover{color:#03C;}
.bor-r-b{border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
.dis{display:block;}
.bor-l-t{border-top:1px solid #ccc; border-left:1px solid #ccc;}
.mar-b-11{margin-bottom:11px;}
.mar-t-16{margin-top:16px;}
.bor-b{border-bottom:1px solid #ccc;}