@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ul,ol ,p,dl,dd,input,textarea{margin:0; padding:0;}
textarea{resize:none;}
input{border:none;}
input,textarea{outline:none;}
a{color:#252525; text-decoration:none;}
img{vertical-align:top; border:none;}/*解决ie里面a包img有边框*/
li{list-style:none;}
/*重复使用*/
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:''; display:block; clear:both;}
body {font-size:12px; color:#252525;}
.w{width:960px; margin:0 auto;}
.mar-18{margin-left:18px;}
.mar-20{margin-right:20px;}
.w310{width:310px;}
.mab-12{margin-bottom:12px;}