@charset "utf-8";
/* CSS Document */
.header{ background:#333; min-width:976px; border-bottom:2px solid #606060; height:43px;}
.head { line-height:43px;}
.head a{color:#fff;}
.head .nav-l i{border:4px solid transparent; border-top:4px solid #c2c2c2; margin:20px 32px 0 9px;}
.head .nav-l .a-1{margin-left:13px;}
.nav-r li{border-right:1px solid #1f1f1f;}
.nav-r .list-1{width:64px; background:#db1414; text-align:center;}
.nav-r li i{border:4px solid transparent; border-top:4px solid #c2c2c2; margin-top:20px;}
.nav-r .list-2 a{margin-left:13px;}
.nav-r .list-2 i{margin:20px 15px 0 8px;}
.nav-r .list-3{width:80px; height:43px;}
.nav-r .list-3 i{margin-right:5px;}
.nav-r .list-3 a{background:url(../img/1.png) no-repeat ; width:56px; height:13px; margin-top:16px; margin-left:9px;}
.nav-r .list-4{width:49px; height:43px;}
.nav-r .list-4 a{width:20px; height:15px; background:url(../img/2.png); margin:15px 4px 0 12px;}
.nav-r .list-4 .a-2{width:18px; height:17px; background:url(../img/3.png);}
.nav-r .list-4 .a-3{width:24px; height:17px; background:url(../img/4.png);}
.nav-r .list-4 .a-4{width:21px; height:21px; background:url(../img/5.png);}
.nav-r .list-5 {width:74px;}
.nav-r .list-5 a{width:47px; height:13px; background:url(../img/6.png); margin:17px 0 0 9px;}
.nav-r ul li:hover{ height:45px; background:#c41010; border-bottom:3px solid #8f2f2f;}
/*logo*/
.head-logo{margin-top:35px; border-bottom:4px solid #206f96; padding-bottom:15px;}
.logo a{width:121px; height:38px; background:url(../img/logo.png); display:block; text-indent:-999px;}
.head-logo .img-1{margin-right:15px;}
/*新闻导航*/
.news li {line-height:22px;}
.news ul{padding:10px 0 15px 0; }
.news .list-6{width:173px; border-right:1px dashed #ddd;}
.news li a{margin-right:19px; float:left;}
.news .list-7 {width:160px;}
.news .list-7 a{margin-left:18px; margin-right:0;}
.news .list-8{width:148px; }
.news .list-9 {border-right:none; width:135px;}
.news .list-9 a{margin-left:18px; margin-right:0;}
/*新闻下*/
.news-dw {width:958px; height:158px; border:1px solid #dcdddd;}
.news-dw .news-l{width:168px;}
.news-l ul{margin-top:1px;}
.news-l .list-10 {margin-left:1px; margin-bottom:1px;}
.news-l .list-10 a{color:#376a77;}
.news-l .list-10 .div1{width:18px; height:39px; background:#d1dae1; text-align:center; padding-top:13px;}
.news-l .list-10 .div2{line-height:24px; margin-left:9px;}
.news-dw .news-con{width:620px; }
.news-con ul{margin-top:10px;}
.news-con li a{line-height:20px; color:#376a77;}
.news-dw .news-r{width:170px; }
.news-r ul{padding-top:1px;}
.news-r li .new{width:18px; height:39px; background:#e6eaed; text-align:center; padding-top:12px;}

.news-r li p{line-height:24px;}
.news-r li a{color:#376a77;}
.news-r li {margin-left:7px; margin-right:1px ; margin-bottom:1px;} 

/*黄晓明*/
.news-2{margin-top:20px;}
.news-2 .div-3{width:640px;}
.news-2 .ns-l{width:310px;}
.ns-l .a-5{width:310px; height:220px; display:block; position:relative;}
.ns-l .ding p{line-height:40px; color:#fff; margin-left:9px; font-size:14px;}
.ns-l .ding{width:310px; position:absolute; bottom:0; left:0; background:rgba(0,0,0,.5);}
.ns-l .a-5 i{width:19px; height:34px; display:block; background:url(../img/icon_v9.png) 0 0; position:absolute;top:91px; left:6px;}
.ns-l .a-5 .em-1{width:19px; height:34px; display:block; background:url(../img/icon_v9.png) -11px -48px; position:absolute; top:91px; right:6px;}
.ns-l .div-1{margin-top:45px; border-top:2px solid #206f96;}
/*黄晓明下面的*/
.div-1 li{width:102px; line-height:29px; text-align:center; border-left:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; font-size:14px; background:#f4f4f4; }
.div-1 .list-11{border-right:1px solid #cfcfcf;}
.div-1 .li-1, .div-1 li:hover{background:#fff; border-bottom:#fff;}
.div-2{margin-top:18px;}
.div-2 a{width:130px; height:90px; display:block;} 
.div-2 p{line-height:30px;}
/*邓小平录音*/
.news-3{margin-top:11px; font-size:14px;}
.list-12{line-height:26px;}
.list-12 .i-2{width:3px; height:3px; background:url(../img/10.png) ; margin:11px 6px 0 0;}
.list-12 .p-1{background:url(../img/tab_icon_play.png) no-repeat left; padding-left:20px; margin-right:8px;}
.news-3 .last-1{margin-bottom:16px;}
/*直播*/
.vadio{margin-top:6px; margin-bottom:21px;}
.vadio a{width:130px; height:90px; display:block; position:relative;}
.div-4 p{line-height:34px;}
.div-4 span{line-height:20px; background:#f44103; padding:0 5px 0px 6px; position:absolute; top:0; right:0; color:#fff;}
.div-4 .tou {line-height:20px; width:130px; background:rgba(0, 0, 0, .5); position:absolute; bottom:0; right:0;}
.div-4 .tou em{margin-right:8px; font-style:normal; color:#fff;}
.div-4 .tou i{width:10px; height:10px; float:right; background:url(../img/0.png); margin:5px 5px 0 0;}
.vadio .v-1{margin-left:40px;}
/*中间的部分*/
.ns-con .div-1{border-top:2px solid #206f96;}
.news-4 {margin-top:17px;}
.list-13 i{width:3px; height:3px; background:url(../img/10.png); margin:12px 6px 0 0;}
.list-13 p{line-height:27px; font-size:14px;}
.list-13 .p-2{font-weight:bold;}
.news-4 .u-1{margin-top:11px;}
/*新闻有态度*/
.news-5{margin-top:13px; line-height:26px; font-size:14px; margin-bottom:22px;}
.taidu i{width:92px; height:18px; background:url(../img/taidu.png); margin:3px 12px 0 0;}
.news-5 span{margin:0 10px;}
.news-5 li i{width:3px; height:3px; background:url(../img/10.png); margin:12px 6px 0 0;}
/*兼新闻*/
.hot-news {margin-bottom:25px;}
.div-1 .new-logo a{width:58px; height:23px; display:block; margin:3px auto 0;}
.tab{width:196px; margin:16px auto 7px;}
.tab i{width:8px; height:12px;}
.tab .i-3{background:url(../img/icon_v9.png) 0 -805px; margin-right:11px;}
.tab span{width:24px; height:5px; background:#e4e4e4; margin-left:2px; margin-top:4px;}
.tab .i-4{background:url(../img/icon_v9.png) -10px -805px;}
.tab span:hover{background:url(../img/icon_v9.png) 0 -830px;}
/*bobo*/
.news-5 .list-14 i{width:17px; height:16px; background:url(../img/bobo.png); margin:5px 8px 0 0;}
.news-5 .list-14 a span{margin:0; font-weight:bold;}
/*每个孩子的部分*/
.child ul {border-top:1px solid #ddd; border-bottom:1px solid #ddd; padding:4px 0 6px; margin-bottom:12px;}
.child li i{width:3px; height:3px; background:url(../img/10.png); margin:11px 6px 0 10px;}
.child li a{line-height:27px; margin-right:8px;}
.child li {margin-right:28px;}
.child .img{width:640px; height:100px; display:block;}

/*体育彩票*/
.news-6 {margin-top:12px;}
.news-6 .list-l{ width:310px; border-bottom:1px dotted #c0c0c0; padding-bottom:9px;}
.list-l .play-head{border-top:2px solid #206f96; margin-bottom:12px;}
.list-l .play-head li {width:102px; line-height:29px; border:1px solid #cfcfcf; border-top:none; border-right:none;  text-align:center; background:#f7f7f7;}
.list-l .li-2{border-right:1px solid #cfcfcf;}
.list-l .play-head li:hover{background:#fff; border-bottom:1px solid #fff;}
.list-l .play-l img{margin-bottom:4px;}
.list-l .play-l{width:130px; margin-top:6px;}
.list-l .play-r li{margin-left:10px;}
.list-l .play-r i{width:3px; height:3px; background:url(../img/10.png); margin:11px 5px 0 0 ; }
.list-l .play-r a{background:url(../img/tab_icon_play.png) no-repeat left; padding-left:20px;}
.list-l .info{line-height:25px;}
.bood {margin-top:6px; margin-bottom:45px;}
.bood a{background:url(../img/10.png) no-repeat left; padding-left:9px; line-height:28px;}
.bood .mar-b-12{margin-bottom:12px;}
.news-6 .a-7{display:block; width:640px; height:100px;}
/*右面的部分*/
.ns-r{width:300px;}
.product{width:298px; border:1px solid #ddd; border-top:none;}
.head-1{line-height:29px;}
.head-1 .a-7 {width:105px; background:url(../img/15.png); border-top:2px solid #206f96; padding-left:10px;}
.head-1 .news-7 {border-top:1px solid #e04f4f; border-bottom:border-top:1px solid #bf0b0b; background:#da2b2b; width:183px; }
.head-1 .news-7 img{margin:5px 0 0 10px; border-right:1px solid #b30000; padding-right:9px;}
.head-1 .news-7 a{padding-left:12px; border-left:1px solid #e05151; color:#fff;}
/*游戏部分*/
.game li a{margin-right:11px; line-height:25px;}
.game .li-1{height:57px;}
.game li .div-5{ margin-top:19px;}
.game li div{ width:248px; margin-left:13px;}
.game li span{width:21px; height:17px; background:url(../img/icon_v9.png) -4px -180px; margin:25px 0 0 16px;}
.game .li-3{height:126px; background:#f7f7f7;}
.game .li-3 div{margin-top:13px;}
.li-3 .sp-1{background-position:-2px -225px; width:29px; height:23px; margin:51px 0 0 8px;}
.game .li-4{height:77px;}
.li-4 .sp-2{background-position:-3px -269px; height:22px; width:21px;}
.li-4 div{margin-top:13px;}
.ns-r .a-8 img{margin:12px 0;}
.ns-r .gongyi{width:298px; height:97px; border:1px solid #ccc; }
/*公益*/
.gongyi ul{padding-top:2px;}
.gongyi li {line-height:27px; margin-left:9px; font-size:14px;}
.gongyi li span{width:22px; height:22px; background:url(../img/nav_sprite_v28.png) 0 -160px; margin:2px 6px 0 32px;}
.gongyi li .a-9{margin-left:9px;}
.gongyi .li-5 a{background:url(../img/10.png) no-repeat left; padding-left:9px;}
/*火车*/
.ns-r .bus{width:298px; height:248px; border:1px solid #ccc; background:#f9f9f9;}
.bus li{line-height:30px; text-align:center; width:73px; border-bottom:1px solid #ccc; border-right:1px solid #ccc; font-size:14px;}
.bus .li-6{width:76px;}
.bus .last-2{border-right:none;}
.bus li:hover{border-bottom:#f9f9f9;}
.bus img{margin:9px;}
.bus p a{line-height:25px; background:url(../img/10.png) no-repeat left; margin-left:13px; padding-left:5px; color:#376a77;}
.ns-r .img2{margin:12px 0;}

.ns-r .fashion{width:298px; height:498px; border:1px solid #ccc; border-top:none; margin-bottom:12px;}
.fashion .man {margin-bottom:21px;}
.fashion .man a{width:148px; line-height:29px; border-top:2px solid #206f96; border-left:1px solid #ccc;border-bottom:1px solid #ccc; text-align:center; font-size:14px; background:url(../img/15.png);}
.fashion .man a:hover{ border-bottom:1px solid #fff; background:#fff;}
.fashion .man .fan{border-left:1px solid #fff; }
.fashion .a-10{width:130px; height:90px; position:relative; margin:6px 10px 9px 12px;}
.fashion .a-10 p{line-height:25px; position:absolute; bottom:0; left:0; background:rgba(0, 0, 0, .5); width:126px; color:#fff; padding-left:4px;}
.fashion li a{background:url(../img/10.png) no-repeat left; padding-left:5px; line-height:25px;}
.fashion .img-3{margin:0 0 12px 12px;}
.fashion .img-3-1{margin-top:-3px;}
.div-6{border-top:1px dotted #ccc; width:298px; margin-top:4px; padding-top:6px;}
.div-6 .p-1 a{line-height:27px; background:url(../img/10.png) no-repeat left; padding-left:6px; margin-left:13px;}
.ns-r .img3{margin-bottom:12px;}
.ns-r .jiu{width:298px; height:335px; border:1px solid #ccc;}


.jiu li a{width:73px; line-height:30px; text-align:center; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
.jiu li .a1{width:75px; border-left:1px solid #fff;}
.jiu li a:hover{border-bottom:1px solid #fff;;}
.jiu .img4{margin:18px 9px 20px 9px;}
.jiu p a{line-height:23px; background:url(../img/10.png) no-repeat left; padding-left:5px; margin-left:9px;}
.jiu .img5{margin-left:9px;}

/*底部新闻*/
.foot{width:960px;background:#f6f6f6;border-top:1px solid #dedede;border-bottom:1px solid #dedede;margin:90px auto 0;padding-top:28px;padding-bottom:52px;position:relative;}
.list3 li{margin-right:10px;margin-bottom:12px;}
.list3 .ge{width:150px;height:150px;}  
.list3 .fangge{width:150px;height:150px;background:#e8e8e8;}
.list3 p{font-size:12px;color:#252525;margin-top:12px;margin-left:12px;}  
.list3 span{margin-right:45px;}

.foot .map{font-size:12px;color:#252525;position:absolute;right:32px;bottom:19px;} 
.foot .bf{width:15px;height:15px; background:url(img/chakanditutubiao.png);position:absolute;right:12px;bottom:17px;} 
/*底部*/
.tiaokuan{width:960px;height:216px;background:#f6f6f6;margin:1px auto 0;} 
.list4{padding-top:46px;margin-right:48px;}
.list4 .jubao{font-size:12px;color:#666;margin-bottom:14px;} 
/*版权所有*/
.banquan{width:960px;height:39px;background:#333;margin:0 auto;} 
.banquan .suoyou{font-size:12px;color:#ddd;margin-left:15px;margin-right:14px;line-height:39px;}
.banquan .xiangxi{font-size:12px;color:#ddd;line-height:12px;padding-left:12px;padding-right:14px;border-left:1px solid #616161;display:block;margin-top:14px;} 


