@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ul,ol ,p,dl,dd,input,textarea{margin:0; padding:0;}
textarea{resize:none;}
input{border:none;}
input,textarea{outline:none;}
a{color:#787878; text-decoration:none;}
img{vertical-align:top; border:none;}/*解决ie里面a包img有边框*/
li{list-style:none;}
/*重复使用*/
.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:''; display:block; clear:both;}
body {font-size:12px; font-family:'microsoft yahei'; height:7000px;}
.w{width:970px; margin:0 auto;}
.marr{margin-right:20px;}
.hot{color:#f69;}
.no-bor-b{border-bottom:none !important;}
.l-h-30{line-height:30px;}
.mar-b-20{margin-bottom:20px;}
.mrb-50{margin-bottom:50px;}
.w310{width:310px;}
.w660{width:660px;}