@charset "utf-8";
/* CSS Document */
.header{border:1px solid #ccc; background:#dfdfdf; min-width:930px; line-height:35px;}
.head-nav a,.login a{float:left;}
.head-nav span,.login span{float:left; margin:0 12px;}
.logo-sear{height:110px;}
.logo{margin-top:25px;}
.logo a{background:url(../img/1.png); height:70px; width:70px; display:block; text-indent:-999px;}
.sear-box{width:560px; margin-top:23px; background:pink; }
.sear-box .time{margin-bottom:16px;}
.sear-box .time i{width:15px; height:16px; background:url(../img/clock.png); display:block; margin-right:6px;}
.shopcar{width:126px; background:#ffdb3d; line-height:40px;}
.shopcar span{width:14px; height:14px; background:url(../img/car.png); display:block; margin:13px 4px 0 34px;}
.menu{width:248px;}
.menu h2{line-height:50px; background:#ff4a00; padding-left:20px; color:#fff;}
.menu ul{border-left:1px solid #ccc; border-right:1px solid #ccc;}
.menu li{padding-left:20px; padding-top:14px; line-height:22px; border-bottom:1px solid #ccc; height:59px;}
.nav{width:682px; }
.nav-main{background:#404144; line-height:50px;}
.nav-main a{float:left; color:#fff; margin:0 14px;}
.tab{position:relative;}
.tab .btn{position:absolute; bottom:15px; right:5px;}
.tab .btn span{ float:left;width:28px; height:18px; border:1px solid #ccc; background:#a12010; line-height:18px; text-align:center; margin-right:10px; cursor:pointer;}
.nav-pic{border-top:1px solid #ccc;}
.nav-pic a{float:left;}
.hd{line-height:50px; background:pink;}
.hd h3{margin-right:10px;}
.hd-btn{margin-top:20px;}
.hd-btn span{border:1px solid #ccc; height:18px; width:28px; line-height:18px; text-align:center; font-size:18px;}
.hd-btn .cur{color:#946d6d; border-left:none;}
.stargoods{border-top:1px solid #ccc; border-left:1px solid #ccc;}
.stargoods li{border-right:1px solid #ccc; border-bottom:1px solid #ccc; width:309px; text-align:center; padding-bottom:27px;}
.stargoods .neme{line-height:23px;}
.stargoods .info{line-height:17px; color:#ccc;}
.newgoods{border-top:1px solid #ccc; border-left:1px solid #ccc;}
.new-l{ width:620px;}
.new-l li{width:309px; position:relative;}
.new-l li .info{margin-left:30px; padding-top:29px;}
.new-l .name{line-height:22px; }
.new-l .price{line-height:20px;}
.new-l li .freeget{width:70px; height:20px; background:red; position:absolute; top:0; right:26px; text-align:center; line-height:20px; color:#fff;}
.new-r li .info{margin-left:30px; margin-top:31px;}
.new-r li .xilie{line-height:25px; font-size:18px;}
.new-r li .qian{line-height:22px; color:#6d6d6d;}
.new-r .news{padding-top:21px; padding-left:30px; padding-bottom:28px;}
.new-r .news h3{line-height:36px; font-size:17px;}
.new-r .news span{width:2px; height:2px; background:url(../img/13.png); display:block; margin:21px 9px 0 6px;}
.new-r .news li{border-bottom:1px solid #ccc; line-height:45px; padding-right:30px;}
.new-r .news .last{border-bottom:none;}
.new-r .news i{font-size:18px;}
.hd {margin-top:14px;}
.hot-l{width:620px;}
.hot-l .info {padding-top:56px; padding-left:29px;}
.hot-l .info .txu{line-height:48px; font-size:34px; }
.hot-l .info p{line-height:29px; color:#6e6e6e; font-size:14px;}
.hot-l .info span{line-height:64px; font-size:22px;}
.hot-l .ear .erji{padding-top:28px; padding-left:30px; line-height:22px;}
.hot-r{width:309px;}
.hot-r h3{line-height:103px;font-size:24px; margin-left:31px;}
.hot-r .list span{margin:34px 20px 0 34px; font-size:29px; color:#ff4a00; font-weight:bold;}
.hot-r .list .jj{line-height:22px; margin-top:30px;}
.tj .nc div{margin-top:31px; line-height:18px; margin-left:30px;}
.tj .nc{position:relative;}
.tj .nc span{position:absolute; top:0; right:24px; height:20px; width:70px; background:red; color:#fff; line-height:20px; text-align:center;}
.tushu li .lj{width:274px; height:36px; margin:0 auto 10px; background:#f3f3f3; padding:10px 0 10px 15px;}

.tushu .jj {line-height:20px; margin-top:30px; margin-left:30px;}
.zt li .jj{line-height:20px; padding-top:29px; padding-left:30px;}
.foot{border-bottom:1px solid #ccc;}
.foot ul li {width:186px; height:204px; }
.foot li span{width:30px; height:30px; background:url(../img/25.png); display:block; margin:0 78px;}
.foot li div{line-height:51px; text-align:center; margin:98px auto 26px;}
.footer{border-bottom:1px solid #ccc; padding:40px 0;}
.footer ul { width:745px;}
.footer li {margin-left:20px; width:128px; border-right:1px solid #ccc;}
.footer li h3{line-height:27px; font-size:17px; padding-bottom:7px;}
.footer li p{line-height:26px;}
.footer .ip div{width:120px; height:30px; background:#ff4a00; color:#fff; line-height:30px; text-align:center; margin:16px auto 0;}
.footer .ip .dhua{line-height:27px; font-size:20px;font-weight:bold; margin-bottom:3px;}
.footer .ip .date{line-height:21px; color:#6d6d6d;}
.footer .ip p{text-align:center;}
.footer .ip{width:185px;}