@charset "utf-8";
/* CSS Document */
.header{min-width:930px; border-bottom:1px solid #ccc; line-height:35px;}
	.header-nav span{float:left;}
	.header a,span{float:left; margin:0 10px;}
	.logo_sear{height:100px;}
	.logo {margin-top:25px;}
	.logo a{background:url(../img/1.png); width:70px; height:70px; display:block; text-indent:-999px;}
	.time i{background:url(../img/2.png); width:15px; height:16px; display:block; margin-top:23px;}
	.sear_box {text-align:;}
	
	
	.menu {width:238px; }
	.menu h2{line-height:50px; background:red; color:#fff; padding-left:20px;}
	.nav {width:682px;  background:#404144;}
	.nav .nav-u a{float:left; padding:0 11px; line-height:50px; color:#fff; font-size:16px;}
	.nav div a:hover{background:yellow; color:#000;}
	.menu li{line-height:22px; padding:14px 0 15px 20px; border:1px solid #ccc; border-top:none;}
	.tab{position:relative;}
	.tab i {float:left; width:28px; height:18px; border:1px solid #ccc; background:#a12010; text-align:center; line-height:18px; margin-right:10px;}
	
	.tab div{position:absolute; bottom:15px; right:5px;}
	.nav-down{height:170px; border:1px solid #ccc;  border-left:none;}
	.nav-down a{float:left; border-right:1px solid #ccc;}
	.nav-down .last{border-right:none;}
	
	.hd{margin-top:10px;}
	.hd h3, .hd a{line-height:50px;}
	.hd-btn span{height:18px; width:28px; border:1px solid #ccc; line-height:18px; text-align:center;}
	.stargood li {border:1px solid #ccc; width:308px; text-align:center;}
	.stargood name{line-height:23px;}
	.stargood info{line-height:17px;}
	.stargood .w308{border-right:none;}
	.new_l{border-top:1px solid #000; border-left:1px solid #000; width:620px; height:100px; background:#0F3;}
	.new_r{border-top:1px solid #C00; border-right:1px solid #C00;  height:100px; background:#930;}

